html,
body,
.wrapper {
  height: 100%
}

body {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background-color: ghostwhite;
}

.header {
  background: #e5e5e5;
  height: 100vh;
}

.container-fluid {
  overflow-x: hidden !important;
}

.header-banner {
  width: 100%;
  height: calc(100% - 65px);
  background: url(../assets/wr-art.png) no-repeat bottom center scroll;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.header .overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
}

.header .overlay>h4 {
  font-size: 45px;
  color: #fff;
  text-align: center;
  margin-top: 70%;
  text-shadow: 3px 3px 8px black;
}

.middleImage>img {
  height: 600px;
  object-fit: cover;
}

.logo {
  flex: 0 0 auto;
}

.logo-wrapper {
  display: flex;
  height: 65px;
  z-index: 1;
}


.logo-bird {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}

img.resize {
  height: 100%;
  width: 60px;
  margin: 0 20px;
}

img.social-icon-size {
  width: 25px;
  margin: 13px;
  cursor: pointer;
}

.fix-modal-header {
  flex-direction: row-reverse;
}

.main-content {
  height: 500px;
  background-color: ghostwhite;
  flex-wrap: nowrap;
  flex-direction: column;
}

.main-content>p {
  font-size: 17px;
  color: #9E66A9;
  text-align: center;
  margin-top: 10px;
}

.main-content-header {
  width: 100%;
  color: rgb(111, 76, 129);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  text-align: center;
  margin-top: 40px;
}

.purple {
  background-color: #9E66A9;
}

.icon-section {
  height: 59px;
  background-color: ghostwhite;
  flex-wrap: nowrap;
  /* justify-content: center; */
}

.socialIcon {
  background-color: #fff;
  height: 50px;
  width: 50px;
  margin-top: 4px;
  margin-right: 28px;
  margin-left: 8px;
  border-radius: 50%;
  box-shadow: 2px 3px 11px #87898a;
}

.search {
  margin-left: 33%;
  width: 80%;
}

.hit {
  background: rgb(41, 9, 56);
  background-repeat: no-repeat;
  border: 2px solid white;
  cursor: pointer;
  color: #efefef;
  border-radius: 0;
  border-top-right-radius: 20px
}

.Enter {
  border: 1px solid #efefef;
  background: white;
  border-bottom-left-radius: 20px
}

.hit:hover {
  background: rgb(199, 149, 223);
  color: black;
  border: 2px solid #fff;
}

.bar-container {
  display: flex;
  height: 5px;
  margin: 0 auto;
  border-radius: 20px;
}

.bar-color {
  flex: 0 0 140px;
  background-color: rgb(73, 4, 87);
  height: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.bar {
  flex: 1 1 auto;
  border-top-right-radius: 20px;
  background-color: lightgray;
}

.stat-container {
  margin-top: 30px;
  padding: 5px;
}

.stat {
  width: 100%;
  display: flex;
  margin: 5px auto;
  font-size: 12px;
  padding-top: 10px;
}

.friends {
  flex: 0 0 140px;
  margin-left: 5px;
  font-weight: 600;
}

.invite-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.invite-container2 {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.search-bar {
  margin: 24rem auto 0;
}

.points>span {
  display: block;
}
.points {
  margin-left: 4px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.invites {
  height: 40px;
  width: 40px;
  background: lightgray;
  border-radius: 50px;
  padding-top: 5px;
  text-align: center;
}

.footer {
  height: 500px;
  object-fit: cover;
  background-color: rgb(73, 4, 87);
  bottom: 0;
}

.cloud-img {
  position: absolute;
  left: 45%;
  top: 93px;
  height: 73px;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.cloud-img:hover {
  transform: translate(3em,0);
}
.cloud-text {
  position: absolute;
  left: 15%;
  top: 35px;
  font-weight: 600;
  color: #fff;
  width: 100%;
  font-size: x-small;
  z-index: 1;
}

.cloud-text > a {
  text-decoration: none;
  color: #fff;
}

.footer-img-wrapper {
  width: 100%;
  height: 250px;
}

.footer-img-wrapper > img {
  height: inherit;
  width: inherit;
}

.share {
  text-align: center;
  margin-top: 50px;
  font-size: 17px;
  font-weight: 600;
  color: #9E66A9;
}

.share > h5 {
  color: black;
  font-size: 12px;
}
.share > p {
  margin-bottom: 0;
}
.footer-base {
  border-top: 8px;
  border-top-color: #fff;
  height: 45px;
  object-fit: cover;
  text-align: center;
  background-color: rgb(79, 23, 92);
  bottom: 0;
}
.icon-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  /* width: 60%; */
}
.footer-base>h5 {
  margin: 0 auto;
  color: #fff;
  margin-top: 15px;
  font-size: 13px;
}


/* start chat area specific styling */

.chat-logo {
  flex: 1 1 auto;
  height: 70px;
  display: flex;
}

.social-icons {
  flex: 1 1 auto;
  margin: 15px auto;
  padding-top: 5px;
}

.social-icons>img {
  height: 35px;
  float: right;
  background-color: #e0e0e0;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px
}

.chat-input-wrapper {
  flex: 1 1 auto;
  display: flex;
  width: 100%;
}

.chat-button-wrapper {
  flex: 0 0 50px;
}

.chat-area-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-input-wrapper>form {
  width: 100%;
  margin-top: 3px;
  margin-right: 5px;
}

.chat-area {
  flex: 1 1 auto;
}

.chat-form {
  display: flex;
  flex: 0 0 auto;
  height: 100px;
  width: 100%;
  background-color: ghostwhite;
  padding-top: 10px;
}

.main-wrapper {
  max-width: 740px;
  height: calc(100% - 170px) !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.kari {
  color: #fff;
}
.follow-tag {
  width: 100%;
  background-color: ghostwhite;
  margin-bottom: 0;
  margin-right: 9px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
  color: rgb(111, 76, 129);
}

.textArea {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 45px;
}

input[placeholder] {
  text-align: right;
}

.send {
  border-radius: 50px;
  height: 50%;
  text-align: center;
  background-color: #d399da;
  color: #fff;
}

.message {
  height: auto;
  background-color: transparent;
  border-radius: 40px;
  border-top-left-radius: 0;
  flex: 1 1 auto;
}

.message>span {
  display: block;
  margin: 5px;
  padding: 8px;
}

.message-right {
  background: linear-gradient(to left, #c6c2c2, #f5f5f5);
  border-top-left-radius: 40px;
  border-top-right-radius: 0;
}

.message-left {
  background: linear-gradient(to right, #C190C7, #efefef)
}

.message-container {
  display: flex;
  align-content: center;
  margin: 10px 10px;
  clear: both;
  width: 100%;
}

.identification {
  background-color: #e0e0e0;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 50%;
}

.bot {
  flex: 0 0 40px;
  height: 60px;
}

.person {
  margin-left: 5px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.win {
  position: absolute;
  top: 19px;
  left: 114px;
  font-size: 18px;
  font-weight: 700;
  color: #989696;
}
/* end chat styling */

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
  .main-content {
    height: 560px;
  }
  img.resize {
    height: 100px;
    width: 100px;
  }
  .header-banner {
    background: url(../assets/wr-art.png) no-repeat bottom center scroll;
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }
  .header .overlay>h4 {
    margin-top: 40%;
  }
  .message-container {
    max-width: 500px;
  }
  .msg-right {
    float: right;
    max-width: 500px;
  }
  .socialIcon {
    margin-right: 150px;
  }
  .search-bar {
    width: 30rem;
    margin: 0 auto;
  }

  .share {
    text-align: center;
    margin-top: 61px;
    font-weight: 700;
    font-size: 21px;
    color: #9E66A9;
  }
  
  .share > p {
    margin-bottom: 0;
  }
  .share > h5 {
    color: black;
      font-size:  14px;
  }

  .win {
    position: absolute;
    top: 677px;
    left: 505px;
    font-size: 28px;
    font-weight: 700;
    color: #7d7a7a;
  }
  .main-content-header {
    width: 100%;
    color: rgb(111, 76, 129);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    text-align: center;
    margin-top: 40px;
  }
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
  .main-content {
    height: 560px;
  }
  img.resize {
    height: 100px;
    width: 100px;
  }
  .header .overlay>h4 {
    margin-top: 65%;
  }
  .socialIcon {
    margin-right: 100px;
  }
  .message-container {
    max-width: 500px;
  }
  .msg-right {
    float: right;
    max-width: 500px;
  }
  .search-bar {
    width: 30rem;
    margin: 0 auto;
  }
  .share {
    text-align: center;
    margin-top: 61px;
    font-weight: 700;
    font-size: 21px;
    color: #9E66A9;
  }
  
  .share > p {
    margin-bottom: 0;
  }
  .share > h5 {
    color: black;
      font-size:  14px;
  }

  .win {
    position: absolute;
    top: 677px;
    left: 505px;
    font-size: 28px;
    font-weight: 700;
    color: #7d7a7a;
  }
  .main-content-header {
    width: 100%;
    color: rgb(111, 76, 129);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    text-align: center;
    margin-top: 40px;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1024px) {
  /* Styles */
  .main-content {
    height: 560px;
  }

  .main-content-header {
    width: 100%;
    color: rgb(111, 76, 129);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    line-height: 1;
    text-shadow: #EDEDED 3px 2px 0;
    text-align: center;
    margin-top: 40px;
  }
  img.resize {
    height: 150px;
    width: 150px;
  }
  .header-banner {
    background: url(../assets/wr-art.png) no-repeat bottom center scroll;
    background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
  }
  .cloud-img {
    position: absolute;
    left: 74%;
    top: 75px;
    height: unset;
    cursor: pointer;
    z-index: 1;
    transition: 1s ease-in-out;
  }
  .cloud-img:hover {
    transform: translate(3em,0);
  }

  .cloud-text {
    position: absolute;
    left: 15%;
    top: 32px;
    font-weight: 600;
    color: #fff;
    width: 100%;
    font-size: x-small;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: unset;
    width: 96%;
    margin: 0 auto;
  }
  .footer-img-wrapper {
    height: 325px;
    width: 32%;
    margin-right: 1%;
    margin: 40px auto;
  }

  .footer-img-wrapper > img {
    height: inherit;
    width: 100%;
  }
  .footer {
    height: 400px;
  }
  .stat {
    width: 900px;
    font-size: unset;
  }
  .bar-container {
    width: 900px;
  }
  .search-bar {
    width: 30rem;
    margin: 25rem auto 0;
  }
  .chat-form {
    width: 50% !important;
  }
  .message-container {
    max-width: 550px;
  }
  .social-icons {
    flex: 1 1 auto;
    margin: 15px auto;
    padding-top: 5px;
    top: 70%;
    left: 93%;
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
  }
  .social-icons>img {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .msg-right {
    float: right;
    max-width: 500px;
  }

  .icon-section {
    height: 75px;
  }

  .icon-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
  
  .share {
    text-align: center;
    margin-top: 61px;
    font-weight: 700;
    font-size: 21px;
    color: #9E66A9;
  }
  
  .share > p {
    margin-bottom: 0;
  }
  .share > h5 {
    color: black;
      font-size:  14px;
  }

  .win {
    position: absolute;
    top: 677px;
    left: 505px;
    font-size: 28px;
    font-weight: 700;
    color: #7d7a7a;
  }
}